body {
 
padding-left: 145px;
padding-right: 150px;
background: linear-gradient(120deg,#8fab6c,#9689b7 ) ;
}
img{
    margin-left: 150px;
}
.anh2{
    margin-left: 100px;

}
.vemotsoloi{
    color: rgb(243, 6, 6);
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
.video1{
    margin-left: 220px;
}
.computer1{
    margin-left: 30px;
}
.computer2{
    margin-left: 30px;
    margin-bottom: 10px;
}
.computer3{
    margin-left: 30px;
    margin-bottom: 16px;

}
.computer4{
    margin-left: 30px;
    margin-bottom: 10px;
 
}
#tinh.computer4{
    margin-top: 24px;
    margin-bottom: 18px;
}
#update.computer2{
    margin-bottom: 33px;
}
#sua.computer3{
margin-top: 10px;
margin-bottom: 3px;
}
#doi.computer4{

}
 